@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  --main-font: Poppins, sans-serif;
  --main-Bcolor: #fff;
  --secondry-color: #e7e1e1;
  --main-Fcolor: black;
  --secondary-Fcolor: #4b4a4a;
  --logo-color: #319ef7;
  --font-size: 1rem;
  --main-section-Bcolor: #f0f0f0;
  --animation-arrow: arrow;
  --animation-welcome-section-image: image;
  --animation-border-fill: nav-border-fill;
  --animation-text-color-change: text-color-change;
  --animation-megamenu-show: mega-menu-show;
  --animation-article-arrow: animation-article-arrow;
}

@keyframes arrow {
  0% {
    top: 0px;
  }
  15% {
    top: -5px;
  }
  30% {
    top: -10px;
  }
  45% {
    top: 0px;
  }
  60% {
    top: -5px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}
@keyframes image {
  0% {
    top: 0px;
  }
  10% {
    top: -10px;
  }
  20% {
    top: -20px;
  }
  30% {
    top: -30px;
  }
  40% {
    top: -40px;
  }
  50% {
    top: -50px;
  }

  60% {
    top: -40px;
  }
  70% {
    top: -30px;
  }
  80% {
    top: -20px;
  }
  90% {
    top: -10px;
  }

  100% {
    top: 0px;
  }
}
@keyframes nav-border-fill {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 3rem);
  }
}

@keyframes text-color-change {
  0% {
    width: 0;
  }
  100% {
    color: var(--logo-color);
  }
}
@keyframes mega-menu-show {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(-158px);
    transform-origin: bottom;
  }
}
@keyframes animation-article-arrow {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(-6px);
  }
}
